
{% load staticfiles %}
	<section>
				<div class="multiple-featured-properties">
				<div class="container">
					<h3 class="section-heading" id="properties">Featured Properties</h3>

					<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
						<div class="carousel-inner" role="listbox">
                            <div class="row">
                                <div class="item active">
                                    {% for property in view.properties %}

                                {% if property.approved and property.active is True %}

									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="image-with-label">
											<img src="media/{{ property.photo_medium }} " alt="featured-properties-1" class="img-responsive">
                                            <label>{{ property.status }}</label>
										</div>
										<div class="featured-properties-detail">
                                            <a href="{% url 'pages:property' property.pk %}"><h6>{{ property.name }}</h6></a>
											<p class="featured-properties-price">{{ property.cost }}</p>
																				</div>
										<div class="featured-properties-address-div">
											<p class="featured-properties-address">{{property.location}}</p>
										</div>
                                    </div>   
                                    {% endif %}
                                    {% endfor %}
							</div>
							</div>
                        </div>

                        <div class="left-right-arrow">
                       							<a class="left carousel-control" href="index.html#myCarousel" role="button" data-slide="prev">
						    	<img src="{% static 'images/arrow-left.png' %}" alt="arrow left" class="pull-left">
						  	</a>
						  	<a class="right carousel-control" href="index.html#myCarousel" role="button" data-slide="next">
						    	<img src="{% static 'images/arrow-right.png' %}" alt="arrow right" class="pull-right">
						 	</a>
						</div>

					</div>
				</div>
			</div>
    </section>
