{% load staticfiles %}
 <section>
				<div class="multiple-recent-properties">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h3 class="section-heading recent-properties">Recent Properties</h3>
						</div>
						<div class="col-md-8">
							<ul class="property-type">
								<li><a href="javascript:void(0);" data-id="FurnishedHomes">FOR RENT</a> </li>
								<li><a href="javascript:void(0);" data-id="PayingGuest">FOR SALE</a> </li>
								<!-- <li><a href="javascript:void(0);" data-id="LandAndPlot">Land & Plot</a> </li> -->
							</ul>
						</div>
					</div>
					<div id="myCarousel3" data-target="FurnishedHomes" class="carousel slide carousel-slide-recent-property" data-ride="carousel" data-interval="false">
							<div class="carousel-inner" role="listbox">
                <div class="item active">
                  {% for property in view.properties %}
                  {% if property.approved and property.active is True %}

									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="image-with-label">
                      <img src="media/{{ property.photo_medium }}" alt="recent-properties-4" class="img-responsive">
                      <label>{{property.status}}</label>
										</div>
                    <a href="{% url 'pages:property' property.pk %}"><h6>{{ property.name }}</h6></a>
                    <span class="recent-properties-address">{{ property.location }}</span>
                    <p class="recent-properties-price">{{ propery.cost }}</p>
									</div>
                  {% endif %}
                  {% endfor %}
																</div>
							</div>
							<ol class="carousel-indicators">
							    <li data-target="#myCarousel3" data-slide-to="0" class="active"> </li>
							    <li data-target="#myCarousel3" data-slide-to="1"> </li>
							    <li data-target="#myCarousel3" data-slide-to="2"> </li>
							</ol>
						</div>
						<div id="myCarousel4" data-target="PayingGuest" class="carousel slide carousel-slide-recent-property" data-ride="carousel" data-interval="false">
							<div class="carousel-inner" role="listbox">
    							<div class="item active">
									<div class="col-sm-6 col-md-4 col-lg-4">
										<div class="image-with-label">
											<img src="{% static 'images/recent-property-2.png' %}" alt="recent-properties-2" class="img-responsive">
											<label>On Sale</label>
										</div>
										<a href="index.html#"><h6>Lusaka west, Lusaka.</h6></a>
										<span class="recent-properties-address">Lusaka City</span>
										<p class="recent-properties-price">K530,600</p>
									</div>
																</div>
							</div>
							<ol class="carousel-indicators">
							    <li data-target="#myCarousel4" data-slide-to="0" class="active"> </li>
							    <li data-target="#myCarousel4" data-slide-to="1"> </li>
							    <li data-target="#myCarousel4" data-slide-to="2"> </li>
							</ol>
						</div>
													</div>
							</div>
							<ol class="carousel-indicators">
							    <li data-target="#myCarousel5" data-slide-to="0" class="active"> </li>
							    <li data-target="#myCarousel5" data-slide-to="1"> </li>
							    <li data-target="#myCarousel5" data-slide-to="2"> </li>
							</ol>
						</div>
					</div>
					<div class="multiple-get-in-touch">
						<div class="multiple-get-in-touch-inner">
							<img src="{% static 'images/getintouch.png' %}" alt="Get in touch" />
							<div class="row">
								<div class="col-md-7 col-sm-12 multiple-get-in-touch-description">
									<h3>LOOKING TO FIND A PLOT OR A HOME?</h3>
									<p>Diamond Equity is the best match for you,get started by giving us a call.</p>
								</div>
								<div class="col-md-5 col-sm-12">
									<div class="row">
										<div class="col-md-6 col-sm-8 multiple-get-in-touch-contact">
											<div class="contact_detial">
												<div class="phone_icon">
													<i class="fa fa-phone"> </i>
												</div>
												<div class="phone_number">
													<h5>call us now</h5>
													<h2 class="phone_number_h2"><h4>+260 211-269-577</h4></h2>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-4 multiple-get-in-touch-button">
											<a href="contact.html">GET IN TOUCH</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

