
{% load staticfiles %}
	<section>
			<div class="services-we-offer">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							<h3 class="section-heading" id="ourservices">Services we offer</h3>
						</div>
						<!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
							<a href="index.html#">View all services</a>
						</div> -->
					</div>
					<div class="row services-we-offer-part">
						<!-- <div class="col-sm-6 col-md-2 col-lg-2">
							<img src="{% static 'images/paying_guest.png' %}" alt="services img">
							<h4>Property Management</h4>
							<p>Lorem ipsum dolor sit amet, consecteturin ligula convallis, vel tincidunt ipsum posusollicitudin. Duis iaculis.</p>
						</div> -->
						<div class="col-sm-6 col-md-4 col-lg-2">
							<img src="{% static 'images/buying_and_selling.png' %}" alt="services img">
							<h4>Property management and agency</h4>
							<p>We manage properties on behalf of landlords by advertising and filling vacancies; negotiating
								and preparing leases. We also manage properties on behalf of landlords by; collecting rent,
								maintaining premises, attending to faults and other tenant complaints.</p>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<img src="{% static 'images/finance_service.png' %}" alt="services img">
							<h4>Property valuations</h4>
              <p>We do market assessments for various purposes to ascertain approximate values for properties;
                market value, forced sale value, rental value, insurance value and valuation for collateral
                purposes. We also handle valuations for various types of properties, that ranges from fixed
              assets (Real Estate) to movables (Machinery and chattels).</p>
						</div>
						<div class="col-sm-6 col-md-4 col-lg-2">
							<img src="{% static 'images/legal_advice.png' %}" alt="services img">
							<h4>Processing Titles</h4>
              <p>We handle the processing involved in legally transferring the titles of property from
                sellers(vendors) to a buyers (purchasers), including undertaking a variety of searches to
                confirm property ownership, and the preparation and execution of a number of legal documents
              associated with the transactions.</p>
						</div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
							<img src="{% static 'images/legal_advice.png' %}" alt="services img">
							<h4>Property Development</h4>
              <p>We work with Developers in the search for suitable land opportunities and carry out the
                feasibility studies of their desired projects. We also Plan the different stages of the development
                including schedules and costs by coordinating with architects, engineers, quantity surveyors and
              other consultants.</p>
						</div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
							<img src="{% static 'images/legal_advice.png' %}" alt="services img">
							<h4>Provision of house plans</h4>
              <p>Clients who wish to construct can also choose from our wide range of house plans available to
              them.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
